*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #3F4851;
  padding: 1em;
}

header img {
  width: 2em;
}


h2 {
  margin: 0;
  padding: 1em .5em;
}
a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.admin-menu {
  display: block;
  float: right;
}

.top-menu-items {
  flex-wrap: nowrap;
  width: 100%;
}

.top-menu-items li{
  margin-top: 3em;
  flex: 1;
}

.top-menu-items span {
  flex: 3;
  text-align: right;
}
.main-header-icon img{
  width: 5em;
  padding-top: 1.5em;
}
section {
  background-color: #CBCBCE;
}
section ul li {
  background-image: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url('images/food.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  box-shadow: 0 0 5px 1px black;
  min-width: 23%;
  padding: 0;
  margin-top: 1em;
}

section ul li div {
  margin-top: 5em;
  padding-top: 1em;
  width: 100%;
  color: white;
  background-color: #586071;
}

.card-info-content p {
  margin: 0;
  padding: .5em 1em;
}

.card-image-info, .card-image-info-view {
  text-align: right;
  color: white;
  margin: 1em;
}

.card-thumbs-icon {
  position: absolute;
  margin: .5em;
  width: 3em;
  color: white;
}
.attachment-number {
  margin-bottom: 0;
}